<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
<title>Register</title>

</head>
<body>

<form action="completeRegister" method="post">

First Name:<input type="text" name="firstName" placeholder="First Name"/><br>
Last  Name:<input type="text" name="lastName"  placeholder="Last Name"/><br>
EmailId/UserId:<input type="text" name="emailId"  placeholder="EmailID" /><br>
Password:<input type="password" name="password"   placeholder="Password"/><br>

<input type="submit" value="Register"/>
</form>

</body>
</html>